<mat-progress-bar mode="indeterminate" class="loader" *ngIf="app.loading" color="accent"></mat-progress-bar>

<mat-toolbar color="primary">
  <button mat-icon-button (click)="app.toggleMenu()">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<menu [class.active]="app.menuVisible">
    <button mat-icon-button (click)="app.toggleMenu()" class="close">
      <mat-icon>close</mat-icon>
    </button>
    <div class="menu-list">
      <button mat-button routerLink="">Home</button>
      <button mat-button color="accent" routerLink="map">Mapa</button>
      <button mat-button color="accent" routerLink="ticket" *ngIf="app.logged">MoBILET</button>
      <!--<button mat-button *ngIf="Pwa.promptEvent" (click)="installPwa()">
    Zainstaluj jako aplikację
  </button>-->
      <button mat-button color="accent" routerLink="settings" *ngIf="app.logged">Ustawienia</button>
      <button mat-flat-button (click)="app.logout()" color="accent" *ngIf="app.logged">Wyloguj</button>
    </div>
    <div class="att">

      <button mat-icon-button routerLink="attribution">
        <img src="../../assets/att-icon.svg" />
      </button>
      <span>o projekcie</span>
    </div>
</menu>
