<mat-card>
  <mat-card-header>
    <mat-card-title>Witamy w parkIN</mat-card-title>
    <mat-card-subtitle>Jedynej w Tarnowie aplikacji parkingowej</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      lorem ipsum dolor sit amet.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button routerLink="info" color="accent">Zaloguj</a>
    <a mat-raised-button routerLink="map" color="primary">Mapa</a>
    <button mat-button color="accent">Informacje</button>
  </mat-card-actions>
</mat-card>
