<mat-card>
  <p>
    Projekt powstał w ramach <a href="http://www.tarnow.pl/Dla-firm-i-inwestorow/Projekty-i-wydarzenia/Forum-Innowacji">tarnowskiego, 36-godzinnego Hackatonu</a>
  </p>
  <p>
    Wykorzystane technologie:
  </p>
  <ul>
    <li><a href="https://angular.io/">Angular 7</a></li>
    <li><a href="https://material.angular.io/">Angular Material</a></li>
    <li><a href="https://developers.google.com/maps/documentation/">Google Maps</a></li>
    <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
  </ul>
  <p>
    Wykorzystani ludzie
  </p>
  <ul>
    <li><a href="https://github.com/jakubfaliszewski">Jakub Faliszewski</a></li>
    <li><a href="https://github.com/dawidmalec7">Dawid Malec</a></li>
    <li><a href="https://github.com/dominikkoziol">Dominik Kozioł</a></li>
    <li><a href="https://github.com/ksmolenwsei">Krystian Smoleń</a></li>
  </ul>
  <p>
    Wykorzystano ikony autorstwa Smashicons | <a href="https://www.flaticon.com/authors/smashicons">www.flaticon.com</a>
</p>
</mat-card>
