<div class="con">
  <h1>Bilety parkingowe</h1>
  <p>Podaj swoje podstawowe dane i wybierz czas ważności biletu. <b>Nie musisz szukać parkometru!</b></p>
  <h2>Wypełnij formularz</h2>
  <h2 class="right">ifpremium Posiadasz Tarnowską Kartę Premium. Ceny zostały obniżone.</h2>
  <mat-card>
    <form [formGroup]="ticketForm" (ngSubmit)="onFormSubmit(ticketForm.value)" *ngIf="!buyed">
      <mat-form-field class="form-field">
        <input matInput required placeholder="Numer rejestracyjny" formControlName="Plate">
        <mat-error *ngIf="!ticketForm.get('Plate').valid && ticketForm.get('Plate').touched">
          Podaj numer <strong>tablicy</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Czas parkowania</mat-label>
        <mat-select formControlName="Price" required>
          <mat-option *ngFor="let time of times" [value]="time">
            {{time.time*60000-(60000*60) | date:'HH:mm'}} - {{time.price}}zł
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button  mat-flat-button type="submit" color="primary">Kup bilet</button>
    </form>
    <div *ngIf="buyed" class="ticketinfo">
      <p>Ważność biletu <span >{{ticket.time - now - 600000*6 | date:'HH:mm:ss' }}</span></p>
      <p>Twój numer rejestracyjny <span>{{ticket.plate}}</span></p>
    </div>
  </mat-card>
</div>
