<menu class="map-menu" [class.hidden]="!mapMenuVisible">
  <div>
    <div>
      <button mat-flat-button color="primary">Nabliższe wolne miejsce</button>
      <button mat-flat-button (click)="findPlace()" color="primary">Wyszukaj miejsce</button>
      <input type="text" name="address" id="address">
      <div class="ex-button" (click)="filterPlaces()" matRipple [matRippleColor]="'rgba(255,255,255,.1)'">
        <span>Tylko wolne</span>
        <mat-slide-toggle color="accent"  [checked]="filtered" ></mat-slide-toggle>
      </div>
      <!--<button mat-flat-button color="primary">Wyloguj</button>-->
    </div>
    <div>
      <button mat-flat-button color="accent">Ustawienia TKM</button>
    </div>
  </div>
</menu>
<button mat-mini-fab color="primary" (click)="mapMenuVisible=!mapMenuVisible" class="map-button-toggle" [class.moved]="mapMenuVisible">
  <mat-icon>{{mapMenuVisible ? 'close' :'menu'}}</mat-icon>
</button>
<div id="map" class="map" [class.full-width]="mapMenuVisible"></div>
