<menu class="map-menu" [class.hidden]="!mapMenuVisible">
  <div>
    <div>
      <button mat-flat-button color="primary" (click)="getLocation()" >Nabliższe wolne miejsce</button>
      <div class="ex-button flex-v">
        <input type="text" name="address" id="address">
        <button mat-flat-button (click)="findPlace()" color="primary">Wyszukaj miejsce</button>
      </div>
      <div class="ex-button flex-h" (click)="filterPlaces()" matRipple [matRippleColor]="'rgba(255,255,255,.1)'">
        <span>Tylko wolne</span>
        <mat-slide-toggle color="accent" [checked]="filtered"></mat-slide-toggle>
      </div>
      <div class="ex-button flex-h" (click)="filterHandicapped()" matRipple [matRippleColor]="'rgba(255,255,255,.1)'">
        <span>Miejsa dla inwalidów</span>
        <mat-slide-toggle color="accent" [checked]="filteredHandicapped"></mat-slide-toggle>
      </div>
      <div class="ex-button flex-h" (click)="switchMapStyle()" matRipple [matRippleColor]="'rgba(255,255,255,.1)'">
        <span>Tryb nocny</span>
        <mat-slide-toggle color="accent" [checked]="mapStyleName!='day'"></mat-slide-toggle>
      </div>
      <button mat-flat-button color="primary" (click)="refresh()" >Odśwież</button>

      <!--<button mat-flat-button color="primary">Wyloguj</button>-->
    </div>
      <div>
        <button mat-flat-button color="accent" routerLink="/settings" *ngIf="app.logged" >Ustawienia TKM</button>
      </div>
    </div>
</menu>
<button mat-mini-fab color="primary" (click)="mapMenuVisible=!mapMenuVisible" class="map-button-toggle" [class.moved]="mapMenuVisible">
  <mat-icon>{{mapMenuVisible ? 'close' :'menu'}}</mat-icon>
</button>
<div id="map" class="map" [class.full-width]="mapMenuVisible" [class.collapse]="detailsVisible"></div>
<div class="place-details" [class.visible]="detailsVisible">
  <div>
    <button mat-flat-button color="accent" (click)="detailsVisible=false">Schowaj</button>
    <h2>Parking</h2>
    <h1>{{parkingDetails.address}}</h1>
    <p><span>Łączna liczba miejsc: </span><span>{{parkingDetails.numberOfPlaces}}</span></p>
    <p><span>Łączna wolnych miejsc: </span><span>{{parkingDetails.numberOfFreePlaces}}</span></p>
    <p><span>Wolnych miejsc dla niepełnosprawnych: </span><span>{{parkingDetails.numberOfFreeDisabledPlaces}}</span></p>
    <p><span>Wolnych miejsc rowerowych: </span><span>{{parkingDetails.numberOfFreeCyclesPlaces}}</span></p>
  </div>
</div>
